body {
    line-height:24px;
    font-size:14px;
    font-family:"Georgia", "Times New Roman", Times, serif;
}

h1, h2, h3 {
    margin-top:20px;
    margin-bottom:20px;
    text-align:left;
    font-size:1.8em;
}

h2 {
    margin-top:40px;
    font-size:1.5em;
}

h3 {
    margin-top:30px;
    margin-bottom:10px;
    font-size:1.1em;
}

p {
    text-align:justify;
}

a {
    font-weight:bold;
    color:#000;
}

a:hover {
    color:#777;
}

#page {
    position:relative;
    margin:0 auto 50px auto;
    width:600px;
}

#viewport {
    position:relative;
    overflow:hidden;
    margin:30px auto;
    height:250px;
    width:580px;
    
    -webkit-box-shadow:0 0 100px #777;
    -moz-box-shadow:0 0 100px #777;
    box-shadow:0 0 100px #777;
}

#viewport img {
    position:absolute;
}

.code {
    position:relative;
    margin-bottom:15px;
    padding:10px;
    line-height:18px;
    border:1px solid #aaa;
    background:#f9f9f9;

    -webkit-box-shadow:0 0 5px #eee;
    -moz-box-shadow:0 0 5px #eee;
    box-shadow:0 0 5px #eee;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.code pre,
.code .hint,
#xRayIfBigger span,
#xRayIfSmaller span {
    font-family:Monaco, Consolas, "Lucida Console", monospace;
    font-size:12px;
}

.code .hint {
    position:absolute;
    top:0;
    right:3px;
    font-size:9px;
    color:#aaa;
}

code {
    padding:2px 5px;
    background:#f1f1f1;
    font-family:Monaco, Consolas, "Lucida Console", monospace;
    font-size:12px;
}

.download {
    margin-bottom:10px;
}

.subj {
    float:left;
    display:block;
    width:150px;
    font-weight:bold;
}

.desc {
    clear:both;
    margin:5px 0 40px 0;
}

#xRayIfBigger {
    margin-bottom:15px;
}

#xRayIfBigger span,
#xRayIfSmaller span {
    float:left;
    display:block;
    padding:0 5px;
    line-height:16px;
    background:#000;
    font-size:10px;
    color:#fff;
}

#xRayIfBigger .binderFrame {
    clear:both;
    padding:30px;
    height:290px;
    border:1px dotted #000;
}

#xRayIfBigger .contentFrame {
    clear:both;
    padding:30px;
    height:190px;
    border:1px dotted #000;
    background:url('https://s3.amazonaws.com/serge.borb.it/dragme.png') no-repeat center;
}

#xRayIfBigger .contentFrame span {
    background:#777;
}

#xRayIfBigger .viewportFrame {
    clear:both;
    padding:30px;
    height:90px;
    border:2px solid #777;
}

#xRayIfSmaller .viewportFrame {
    clear:both;
    padding:30px;
    height:240px;
    border:2px solid #777;
}

#xRayIfSmaller .contentFrame {
    clear:both;
    height:200px;
    border:1px dotted #000;
    background:url('https://s3.amazonaws.com/serge.borb.it/dragme.png') no-repeat center;
}

#xRayIfSmaller .binderFrame {
    clear:both;
    height:202px;
    border:1px dotted #000;
}

#xRayIfSmaller .viewportTitle {
    background:#777;
}
#xRayIfSmaller .contentTitle {
    margin-left:10px;
}